[submodule "child_coforge_june2026"]
	path = child_coforge_june2026
	url = https://github.com/darshancoforge1902/child_coforge_june2026.git
[submodule "payment"]
	path = payment
	url = https://github.com/darshancoforge1902/child_coforge_june2026.git
